#titulo {
    border: solid 1px #cccccc;
    padding: 5px;
    margin: 0 auto;
    width: 85%;
    background: #82baf9;
}

fieldset {
    margin-bottom: 10px;
}

legend {
    border: solid 1px #b5d5f8;
    padding: 5px;
    font-weight: bold;
    background: #cccccc;
    border-radius: 15px;
}

#mifoto {
    border: solid 2px;
    margin: 10px;
}

#img{
    display: none;
}



body {
    background-image: radial-gradient( circle 767px at 10.2% 22.1%,  rgba(11,218,81,1) 0%, rgba(0,191,255,1) 90% );
    min-height: 100vh;
    justify-content: center;

}



